*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu-h ul {
    list-style-type: none;
    padding: 0;
    background-color: #2b2929;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-h ul li a:hover {
    background-color: #8f0808;
}

#menu-h ul li:last-child {
    float: right;
}

.text-center {
    font-weight: bold;
    margin: 15px;
}

td {
    padding: 0px;
}

.table>:not(caption)>*>* {
    padding: 0px;
    text-align: center;
    align-items: middle;
}

.searchInput {
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

.alert {
    position: absolute;
    z-index: 998;
    top: 15px;
    left: 15px;
}

.container {
    width: 100vw;
    margin: 0 auto;
    padding: 0rem 2rem;


    text-align: center;
    align-items: center;
    flex-direction: column;

}

#send-rm {
    border-radius: 20px;
}

#removeSpaces #send-rm {
    margin-bottom: 10px;
}

#button-rm {
    height: 40px;
    width: 100px;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    transition: 100ms;
}

#button-rm:hover {
    border: 2px solid #159129;     
}

#removeSpaces {
    position: center;
}

#block {
    display: flex;
    text-align: center;
    justify-content: center;
}

#length {
    height: 27px;
    width: 40px;
    margin-left: 10px;
    border: 0 none;
    outline: 0;
    background-color: #c2c2c2;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

#relogio {
    height: 27px;
    width: 40px;
    margin-left: 10px;
    border: 0 none;
    outline: 0;
    background-color: #c2c2c2;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

#content {
    width: 420px;
    height: 27px;
    border: 0 none;
    outline: 0;
    outline-style: none;
    margin-bottom: 10px;
    background-color: #c2c2c2;
    border-radius: 1rem;
    cursor: pointer;
    transition: 100ms;
}

#content:hover {
    border: 2px solid #159129; 
}

#test{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.rules{
    padding: 0px 6px 0px 6px;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: #969696;

    font-family: 'Ubuntu';
    color: white;
    font-weight: 700;
    border: solid 1px white;
    box-shadow: 0px 0px 4px black;

    cursor: pointer;
}

.rulesShow{
    display: none;
    position: absolute;
    z-index: 998;
    margin-left: 0.5rem;

    color: black;
    background-color: #c2c2c2;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 1rem;
}

#rodapé {
    background-color: #2b2929;
    display: flex;    
}