@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Teko:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFAFA;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

header {
    background-color: #1f1517;
    color: #FFFAFA;
    padding: 0.5rem;
}

nav {
    max-width: 1120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Teko", sans-serif;
    font-weight: 250;
    font-size: 1.5rem;
    text-transform: uppercase;
}

img {
    width: 10rem;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
}

a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #dcdcdc;
    transition: 0.4s;
}

a:hover {
    background-color: #8B4513;
    padding: 1.2rem;
    color: #FFFAFA;
}

#removedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F5F5;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
}

h2 {
    text-align: center;
    color: #1f1517;
}

.titulo-class {    
    background-color: #dcdcdc;
    font-size: 1.2rem;
    text-align: center;
    color: #1f1517;
    margin-top: 1.2rem;
}

#removeSpaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}

#content{
    width: 63%;
    border-radius: 0.2rem;
    background-color: #dcdcdc;
    cursor: copy;
    outline-color: #228b22;
    border: none;
    padding: 0.2rem;
    text-align: center;
    font-weight: bold;
}

#send-rm {
    border-radius: 0.2rem;
    font-weight: bold;
    text-align: center;
    outline-color: #1f1517;
    padding: 0.2rem;
}

#block {
    display: flex;
    justify-content: center;
}

#length {
    max-width: 10%;
    border-radius: 0.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #dcdcdc;
    padding: 0.2rem;
}

#relogio {
    max-width: 10%;
    border-radius: 0.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #dcdcdc;
    padding: 0.2rem;
    margin-left: 1.95rem;
    margin-top: 0.2rem;
}

#button-rm {
    max-width: 100%;
    padding: 0.6rem;
    border-radius: 0.2rem;
    font-weight: bolder;
    background-color: #dcdcdc;
    cursor: pointer;    
}

#calculadora {
    display: flex;
    flex-direction: column;
}

#seletor {
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-weight: bold;
    text-align: center;
    background-color: #dcdcdc;
}


select {
    border-radius: 0.2rem;
    padding: 0.2;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #F5F5F5;
    border-color: #1f1517;
}

#seletor-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#seletor-class select {
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
    padding: 0.2rem;
    background-color: #dcdcdc;
    width: 9.4rem;
}


#numero {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-weight: bold;
    text-align: center;
    background-color: #dcdcdc;
}

#resultado {
    display: flex;
    flex-direction: row;
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-weight: bold;
    text-align: center;
    background-color: #dcdcdc;
    border: 2.8px solid #008000;
    max-width: 50%;
    pointer-events: none; 
}

.button-calc {
    max-width: 100%;
    padding: 0.6rem;
    border-radius: 0.2rem;
    font-weight: bolder;
    background-color: #dcdcdc;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-color: #1f1517;
}

th {
    background-color:#1f1517;
    color: #F5F5F5;
    padding: 0.8rem;
}

td {
    background-color: #F5F5F5;
    padding: 1rem;
    text-align: center;
}

.titulo-filial {
    background-color: #dcdcdc;
    font-size: 1.2rem;
    text-align: center;
    color: #1f1517;
    width: 13rem;
    margin: auto;
}

footer {
    background-color: #1f1517;
    color: #dcdcdc;
    text-align: center;
    padding: 1rem;
}