@import url(reset.css);

body {
    display: grid;    
    height: 100%;    
    font-family: "Cabin", sans-serif;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 56px 1fr 56px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
    display: grid;
    grid-area: header;
    background-color: #1f1517;
}

.menu {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Teko", sans-serif;
    color: #FFFAFA;
    font-weight: 200;
    font-size: 1.3rem;
    text-transform: uppercase;
}

ul {
    display: flex;
    gap: 1.5rem;
}

ul li a {
    color: #dcdcdc;
    transition: 0.5s;
}

ul li a:hover {
    background-color: #dcdcdc;
    color: #8B4513;
    padding: 0.8rem;
}

.logo-ic {
    max-width: 127px;
}

main {
    grid-area: main;
    padding: 1rem;
    gap: 1.3rem;
}

#recursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 10px;
    justify-items: center;
}

#removedor, #calculadora {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #F5F5F5;
    width: 450px;
    -webkit-box-shadow: 1px 0px 12px 3px rgba(31,21,23,0.47); 
    box-shadow: 1px 0px 12px 3px rgba(31,21,23,0.47);
    border-radius: 10px;
    padding: 10px;
}

#removeSpaces, #calculator {
    display: grid;
    gap: 2px;
}

#content{
    width: 400px;
    border-radius: 0.3rem;
    background-color: #dcdcdc;
    cursor: copy;
    outline-color: cornflowerblue;
    border: none;
    padding: 0.3rem;
    text-align: center;
    font-weight: 400;
}

#send-rm {
    width: 400px;
    border-radius: 0.3rem;
    font-weight: 400;
    text-align: center;
    border: 2px solid #8B4513;
    outline-color: crimson;
    padding: 0.3rem;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#length {
    max-width: 8%;
    border-radius: 0.3rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #dcdcdc;
    color: #8B4513;
    padding: 0.1rem;
}

#relogio {
    max-width: 8%;
    border-radius: 0.3rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #dcdcdc;
    color: #8B4513;
    padding: 0.1rem;
    margin-left: 32px;
}

#button-rm, .button-calc {
    margin: auto;
    width: 85px;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-weight: bolder;
    background-color: #dcdcdc;
    color: #1f1517;
    cursor: pointer; 
}

#seletor {
    border-radius: 0.3rem;
    background-color: #dcdcdc;
}

#valor {
    color: #1f1517;
}

#numero {
    border-radius: 0.3rem;
    padding: 0.3rem;
    text-align: center;
    font-weight: 400;
    border: 2px solid #8B4513;
    outline-color: cornflowerblue;
}

#resultado {
    border-radius: 0.3rem;
    padding: 0.3rem;
    text-align: center;
    font-weight: 400;
    border: 2px solid cadetblue;
    pointer-events: none;
}

h2 {
    text-align: center;
    color: #1f1517;
}

.titulo-class {    
    background-color: #dcdcdc;
    font-size: 1.2rem;
    text-align: center;
    color: #1f1517;
    margin-top: 1.2rem;
}


select {
    border-radius: 0.2rem;
    padding: 0.2;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #F5F5F5;
    border-color: #1f1517;
}

#seletor-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#seletor-class select {
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
    padding: 0.2rem;
    background-color: #dcdcdc;
    width: 9.4rem;
}

#tables {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 4px;
    margin-top: 10px;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

caption {
    background-color: #dcdcdc;
    color: #8B4513;
    font-weight: bolder;
    padding: 0.6rem;
}

th {
    background-color: #1f1517;
    color: #dcdcdc;
    padding: 0.6rem;
}

td {
    padding: 0.6rem;
    border: 1px solid #1f1517;
}

footer {
    grid-area: footer;
    background-color: #1f1517;
    color: #dcdcdc;
    text-align: center;
    padding: 1rem;
}